.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div.bg-light {
  background-color: var(--light-color);
}

.columns > div > div.bg-brand {
  background-color: #005D1F;
  color: var(--background-color);
}

.columns > div > div.rounded {
  border-radius: 24px;
  overflow: hidden;
}

.columns > div > div.bg-light.rounded,
.columns > div > div.bg-brand.rounded {
  padding: 24px;
}

.columns > div > div.bg-brand a {
  color: var(--background-color);
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > div.width-25 {
    flex: 0 0 25%;
  }

  .columns > div > div.width-33 {
    flex: 0 0 33.3333%;
  }

  .columns > div > div.width-50 {
    flex: 0 0 50%;
  }

  .columns > div > div.width-66 {
    flex: 0 0 66.6667%;
  }

  .columns > div > div.width-75 {
    flex: 0 0 75%;
  }

  .columns > div > div.width-100 {
    flex: 0 0 100%;
  }
}
