.table {
  margin: 56px auto;
}


.table-grid {
  width: 100%;
  min-width: 760px;
  border-collapse: collapse;
  table-layout: auto;
  font-family: var(--body-font-family);
}

.table-grid--fixed {
  table-layout: fixed;
  width: 100%;
}

.table-grid caption {
  padding: 20px 24px 10px;
  text-align: left;
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: #005d1f;
}

.table-grid thead th {
  background: #005d1f;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  padding: 40px;
  text-align: left;
  border-right: 1px solid rgb(255 255 255 / 15%);
}

.table-grid thead th:last-child {
  border-right: 0;
}

.table-grid tbody th,
.table-grid tbody td {
  padding: 40px;
  border: 1px solid #f6f4e9;
  color: #003512;
  font-size: 16px;
  line-height: 24px;
}

.table-grid tbody tr:nth-child(even) th,
.table-grid tbody tr:nth-child(even) td {
  background: #f0f0f0;
}

.table-grid tbody th.table-row-title {
  width: 30%;
  font-weight: 700;
  white-space: normal;
}

.table-grid tbody td:last-child,
.table-grid thead th:last-child {
  border-right: 0;
}

@media (width < 900px) {
  .table-grid caption {
    font-size: 22px;
  }

  .table-grid {
    min-width: 680px;
  }
}